body {
    background: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

.container{
    
    width: 480px;
    height: 850x;
    margin: 170px auto;
    display: flex;
    background: rgb(255, 254, 254);
    border-radius: 11px;
    box-shadow: 5px 5px 70px gray, -5px -5px 70px gray;
 
      
}
.login{
    width: 80%;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 7px;
    color: rgb(0, 0, 0);
    margin: 10px 30px;
    font-size: 13px;
    font-weight:200PX;
    border-radius: 5px;
   
}

.login {
    width: 600px;
  }

form {
    width: 230px;
    margin: 10px auto;
    
  }
form h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
  }
.jkl{
  color:rgb(10, 143, 219);
}
a {
    text-align: center;
    margin: 5px;
    text-decoration: none;
    color: black;
  }
.lbl1 {
    display: block;
    font-size: 17px;
    font-weight: 600;
    padding: 8px;
    margin-right: 50px;
  }

.lbl2{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    margin-right: 120px;
}
.lbl2{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    margin-right: 120px;
}
.lbl2{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    margin-right: 120px;
}
.lbl2{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    margin-right: 120px;
}
.lbl2{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    margin-right: 120px;
}
input {
    width: 100%;
    padding: 8px;
    margin: 4px;
    outline: none;
    border: none;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
  }

button {
    width: 250px;
    margin: 2px;
    padding: 8px;
    background: rgb(255, 170, 14);
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
  }
  
button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

button:hover span {
    padding-right: 30px;
  }

button:hover span:after {
    opacity: 1;
    right: 0;
  }


.pic {
    width: 55%;
    background:rgb(65, 170, 231);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .pic img {
    width: 390px;
    margin: 30px 0 0 0px;
  }
  .logo{
    width: 150px;
    margin: 10px auto;
    
  }