@media screen and (max-width: 768px) {
    
  }
  

body {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.texto {
    transform: translate(1200px, 300px);
    font-size: 18px;
    text-align: center;
    width: 660px;
    left: 50px;
}

.cook{
    transform: translate(350px, 1px);
    width: 500px; 
    height: auto;
}