@media screen and (max-width: 768px) {
    
  }
  

body {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.texto {
    transform: translate(700px, 300px);
    font-size: 18px;
    text-align: center;
    width: 660px;
    left: 50px;
}

.button {
    transform: translate(750px, 400px);

    width: 250px;
    margin: 2px;
    padding: 8px;
    background: rgb(10, 143, 219);
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
}

.button2 {
    transform: translate(800px, 400px);

    width: 250px;
    margin: 2px;
    padding: 8px;
    background: rgb(10, 143, 219);
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
}